body, h1, h2, p, ul, li, a {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

.btn-1 {
  display: block;
  color: #000;
  border: 2px solid #000;
  background: transparent;
  width: 138px;
  height: 43px;
  border-radius: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.btn-2 {
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  color: #fff;
  border: 2px solid #fff;
  background: transparent;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: 250ms ease;
}

.btn-2:hover {
  background-color: #fff;
  color: #000;
}

.btn-3 {
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  color: #000;
  border: 2px solid #000;
  background: transparent;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: 250ms ease;
}

.btn-3:hover {
  background-color: #FBF300;
  color: #000;
  border: 2px solid #FBF300;
}

.info-bg {
  background-color: #FBF300;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 15px;
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  line-height: 20px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .info {
    flex-direction: column;
    text-align: center;
  }
  .info p {
    margin-bottom: 20px;
  }
}

.info a {
  text-transform: uppercase;
  font-weight: bold;
}

.menu-bg {
  display: flex;
  justify-content: center;
}

.menu {
  padding: 30px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 1;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.img-menu {
  cursor: pointer;
}

.intro-bg {
  height: 700px;
  background-image: url("../img/background-01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.intro {
  padding: 150px 15px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.intro h1 {
  margin-bottom: 15px;
  display: inline-block;
  padding: 25px;
  background-color: #FBF300;
  font-family: 'Open Sans',sans-serif;
  font-size: 55px;
  line-height: 20px;
}

.intro h2 {
  margin-bottom: 15px;
  display: block;
  padding: 15px;
  background-color: #FBF300;
  max-width: 370px;
  font-family: 'Open Sans',sans-serif;
  font-size: 48px;
  line-height: 20px;
}

.intro p {
  color: #FBF300;
  padding-bottom: 30px;
  font-family: 'Open Sans',sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.courses-bg h1 {
  text-align: center;
  padding: 0px 15px;
  margin-top: 90px;
  font-family: 'Open Sans',sans-serif;
  font-size: 35px;
  line-height: 20px;
}

@media (max-width: 768px) {
  .courses-bg h1 {
    font-size: 30px;
  }
}

.courses-container {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1153px) {
  .courses-container {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .courses-container {
    justify-content: center;
  }
}

.courses-container a {
  justify-content: center;
}

.courses-item {
  margin-left: 15px;
}

.courses-item img {
  border-radius: 5px;
}

.container-info-bg {
  display: flex;
  justify-content: center;
}

.container-info-bg p {
  font-weight: 600;
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.container-info-1 {
  width: 330px;
  height: 180px;
  padding: 0px 15px;
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.0957314);
  border-radius: 10px;
  border-left: 5px solid #3498db;
  top: -80px;
  position: relative;
  background: #fff;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.container-info-2 {
  width: 330px;
  height: 180px;
  padding: 0px 15px;
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.0957314);
  border-radius: 10px;
  border-left: 5px solid #2ecc71;
  top: -80px;
  position: relative;
  background: #fff;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.container-info-3 {
  width: 330px;
  height: 180px;
  padding: 0px 15px;
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.0957314);
  border-radius: 10px;
  border-left: 5px solid #e74c3c;
  top: -80px;
  position: relative;
  background: #fff;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.container-info-4 {
  width: 330px;
  height: 180px;
  padding: 0px 15px;
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.0957314);
  border-radius: 10px;
  border-left: 5px solid #9b59b6;
  top: -80px;
  position: relative;
  background: #fff;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.container-info-5 {
  width: 330px;
  height: 180px;
  padding: 0px 15px;
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.0957314);
  border-radius: 10px;
  border-left: 5px solid #1abc9c;
  top: -80px;
  position: relative;
  background: #fff;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.container-info-6 {
  width: 330px;
  height: 180px;
  padding: 0px 15px;
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.0957314);
  border-radius: 10px;
  border-left: 5px solid #e67e22;
  top: -80px;
  position: relative;
  background: #fff;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.arrow-info {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow-info img {
  border-radius: 50%;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
}

.arrow-info p {
  background: #FBF300;
  padding: 0px 10px;
  text-transform: uppercase;
  border-radius: 5px;
}

.btn-courses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px;
  text-align: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.feature-item {
  padding: 40px;
}

.feature-item img {
  margin: 0 auto;
}

.feature-item h3 {
  font-family: 'Open Sans',sans-serif;
  font-size: 70px;
  line-height: 20px;
}

.feature-item p {
  font-family: 'Open Sans',sans-serif;
  font-size: 20px;
  line-height: 30px;
}
