.courses-bg h1 {
  text-align: center;
  padding: 0px 15px;
  margin-top: 90px;
  @include title-medium-2;
  @include mobile {
    font-size: 30px;
  }
}

.courses-container {
  padding-top: 50px;
  display: flex;
  @include container-fluid;
  @include desktop {
    justify-content: center;
  }
  @include mobile {
    justify-content: center;
  }
}

.courses-container a {
  justify-content: center;
}

.courses-item {
  margin-left: 15px;
}

.courses-item img{
  border-radius: 5px;
}

.container-info-bg {
  display: flex;
  justify-content: center;
}

.container-info-bg p {
  font-weight: 600;
  @include title-micro;
}

.container-info {
  width: 330px;
  height: 180px;
  padding: 0px 15px;
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.0957314);
  border-radius: 10px;
  border-left: 5px solid #6BC0D3;
  top: -80px;
  position: relative;
  background: #fff;
  @include title-small-3;
}

.arrow-info {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow-info img {
  border-radius: 50%;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
}

.arrow-info p {
  background: $primary-color;
  padding: 0px 10px;
  text-transform: uppercase;
  border-radius: 5px;
}

.btn-courses {
  display: flex;
  justify-content: center;
  @include container-fluid;
}


// 