// INFO
.info-bg {
  background-color: $primary-color;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 15px;
  @include title-micro;
  @include container-fluid;
  @include mobile {
    flex-direction: column;
    text-align: center;
    p {
      margin-bottom: 20px;
    }
  }
}

.info a {
  text-transform: uppercase;
  font-weight: bold;
}

// MENU
.menu-bg {
  display: flex;
  justify-content: center;
}

.menu {
  padding: 30px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 1;
  @include container-fluid;
}

.img-menu {
  cursor: pointer;
}