//  Mixins e funções necessárias para a construção de seus Layout.

// Tipografia
@mixin big-title {
  font-family: 'Open Sans',sans-serif;
  font-size: 70px;
  line-height: 20px;
}

@mixin title-large {
  font-family: 'Open Sans',sans-serif;
  font-size: 55px;
  line-height: 20px;
}

@mixin title-medium-1 {
  font-family: 'Open Sans',sans-serif;
  font-size: 48px;
  line-height: 20px;
}

@mixin title-medium-2 {
  font-family: 'Open Sans',sans-serif;
  font-size: 35px;
  line-height: 20px;
}

@mixin title-small-1 {
  font-family: 'Open Sans',sans-serif;
  font-size: 20px;
  line-height: 30px;
}

@mixin title-small-2 {
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
  line-height: 20px;
}

@mixin title-small-3 {
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  line-height: 20px;
}

@mixin title-micro {
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  line-height: 20px;
}


// Container Fluid
@mixin container-fluid {
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

// Responsive
@mixin desktop {
  @media (max-width: 1153px){
    @content;
  }
}

@mixin desktop-2 {
  @media (max-width: 1156px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}
