// Variáveis globais que vão definir cores, espaçamentos e outras configurações.

// Color
$primary-color: #FBF300;
$courses-box-1: #3498db;
$courses-box-2: #2ecc71;
$courses-box-3: #e74c3c;
$courses-box-4: #9b59b6;
$courses-box-5: #1abc9c;
$courses-box-6: #e67e22;


// Fontes
$fonte-1: 'Open Sans',sans-serif!important;