// button 
.btn {
  display: block;
  color: #000;
  border: 2px solid #000;
  background: transparent;
  width: 138px;
  height: 43px;
  border-radius: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
}